{% extends "base.html.twig" %}

{% block index %}

<!-- **********************************************************************************************************************************
**************************************************************   HEADER    ************************************************************
*********************************************************************************************************************************** -->


    <header>
         <a href="{{ path('home')}}" class="logo"> <img src="img/logo_transparent.png"> </a> 

        <nav class="navbar">
            <ul class="navlinks">
                <li><a href="#orthoptie" class="link">Orthoptie</a></li>
                <li><a href="#bilan" class="link1">Bilans</a></li>
                <li><a href="#reeducation" class="link2">Réeducations</a></li>
                <li><a href="#contact" class="link3">Contact</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>                
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>



<!-- *********************************************************************************************************************************
***************************************************   DESCRIPTION ORTHOPTIE    *******************************************************
***********************************************************************************************************************************-->


        <section>
            <div class="box-container2" id="orthoptie">
                <div class="box2">
                    <h2 class="titleortho" id="accueil"></h2> <br>
                </div> 
                    <div class="box2-complete">
                        <div class="box2-milieu">

                        <img class="imgbgecriture" src="/img/bg_ecriture.png">

                        <div class="wrapper" >
                            <div class="gridone">
                                <div class="square" data-tilt>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    <div class="content">
                                        <h4>L'orthoptie</h4>
                                        <p> L’orthoptie est une profession paramédicale, visant à dépister, rééduquer, réadapter et à explorer la fonction visuelle. </p>
                                        <a href="{{ path('app_orthoptie')}}">En savoir plus</a>
                                    </div>
                                </div>
                            </div>

                            <div class="gridtwo">
                                <div class="square2" data-tilt>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    <div class="content">
                                        <h4>Pour qui ?</h4>
                                        <p> L’orthoptiste prend en charge, sans limite d’âge, du nourrisson à la personne âgée. </p>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="gridthree">
                                <div class="square3" data-tilt>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    <div class="content">
                                        <h4>Quand consulter ?</h4>
                                        <p> Dès l'appartiion de certains signes, il est important de contacter et consulter un professionnel de santé </p>
                                        <a href="{{ path('app_orthoptie')}}">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>  
        </section>


<!-- *********************************************************************************************************************************
******************************************************     MODAL  HEADER   ***********************************************************
***********************************************************************************************************************************-->

                <section>
                    <div class="popup15" id="popup15">
                        <div class="popup-inner">
                            <div class="popup__photo">
                                <img src="img/bilanorthoptique1.jpeg" alt="">
                            </div>
                            <div class="popup__text">
                                <h2>L'Orthoptie</h2>
                                <p>
                                L’orthoptie est une profession paramédicale, visant à dépister, rééduquer, réadapter et à
                                explorer la fonction visuelle.
                                Etymologiquement le terme ORTHOPTIE est composé de 2 racines grecques :
                                 du Préfixe ORTHO qui signifie DROIT et
                                 du suffixe OPSIE qui désigne l’organe de la vision c’est-à-dire l’ŒIL
                                L’orthoptiste a pour mission de dépister, d’évaluer la vision à l’aide de tests normés et de
                                pratiquer une rééducation à la fois sensorielle, motrice et perceptivo-cognitive.
                                Les domaines d’activités de cette profession sont vastes:
                                 Les strabismes ;
                                 Les paralysies oculomotrices ;
                                 Les amblyopies
                                 Le dépistage et la rééducation des troubles de la
                                 vision binoculaire (insuffisance de convergence, fatigue visuelle) ;
                                 La basse-vision ;
                                 La prise en charge des troubles neurovisuels et visuo-attentionnels;
                                 Les examens complémentaires en ophtalmologie
                                 L’assistanat de consultations ophtalmologiques
                                C’est un professionnel de santé conventionné et tous ses actes sont remboursés.
                                Ce métier a été reconnu par décret du 11 août 1956 et est réglementé par des articles du Code
                                de la Santé Publique.
                                </p>
                                <a class="button" href="#popup5">Réeducation</a>
                                <a class="button" href="#popup6">Réeducation strabisme</a>
                                <a class="button" href="#popup10">Quand consulter ?</a>
                                </div>
                          <a class="popup__close" href="#accueil">X</a>
                        </div>
                    </div>


<!-- *********************************************************************************************************************************
********************************************************   CARD DETAILS    ***********************************************************
***********************************************************************************************************************************-->


    <article>

        {# <section>
            <div class="box-container">
            <div class="box">
                <img src="img/Fille.jpg" alt="">  
                <div class="info">
                    <h1 class="title">Camille Parage</h1> <hr>
                    <span class="post">Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Libero obcaecati sequi sunt modi architecto dignissimos ipsam ipsum excepturi, saepe molestias?</span>
                </div>
            </div>

            <div class="box">
                <img src="img/Fille.jpg" alt="">  
                <div class="info">
                    <h1 class="title">Clemence Thorel</h1> <hr>
                    <span class="post">Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Repellendus nihil error asperiores reiciendis exercitationem iusto obcaecati, eaque corrupti dolorem tempore!</span>
                </div>
            </div>
        </div>
        </section> #}



<!-- *********************************************************************************************************************************
********************************************************   NOS BILANS    *************************************************************
***********************************************************************************************************************************-->

                    <section>
                        <div class="box-container3com" id="bilan">
                            <p> Nos Bilans </p>
                        <div class="box-container3" id="popupbil">
                            <div class="container-card3" id="boxcontainergauche" >
                                <div class="container-box3" data-tilt>
                                    <div class="container-content3">
                                        <h2>01</h2>
                                        <h3>Bilan Orthoptique</h3>
                                        <p>
                                            Le bilan orthoptique c’est l’étude du fonctionnement de la vision qui permet de poser un diagnostic et 
                                            définir un projet de soins  
                                        </p>
                                        <a class="button" href="{{ path('app_bilan')}}#bilan1">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                            <div class="container-card3" id="boxcontainergauche">
                                <div class="container-box3" data-tilt>
                                    <div class="container-content3">
                                        <h2>02</h2>
                                        <h3>Bilan Neurovisuel</h3>
                                        <p>
                                            Un bilan neurovisuel se caractérise par un bilan orthoptique complété par un bilan fonctionnel. 
                                        </p>
                                        <a class="button" href="{{ path('app_bilan')}}">En savoir plus</a>
                                        </div>
                                </div>
                            </div>
                            <div class="container-card3" id="boxcontainerdroite">
                                <div class="container-box3" data-tilt>
                                    <div class="container-content3">
                                        <h2>03</h2>
                                        <h3>Bilan Basse Vision</h3>
                                        <p>
                                            La basse vision, est une dégradation importante de l’acuité visuelle ou à une réduction du champ visuel. 
                                        </p>
                                        <a class="button" href="{{ path('app_bilan')}}">En savoir plus</a>
                                        </div>
                                </div>
                            </div>
                            <div class="container-card3" id="boxcontainerdroite">
                                <div class="container-box3" data-tilt>
                                    <div class="container-content3">
                                        <h2>04</h2>
                                        <h3>Refraction</h3>
                                        <p> 
                                            La réfraction permet d’assurer au patient une vision nette et confortable. 
                                        </p>
                                        <a class="button" href="{{ path('app_bilan')}}">En savoir plus</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </section>


<!-- *********************************************************************************************************************************
*******************************************************     MODAL  BILAN   ***********************************************************
***********************************************************************************************************************************-->

                <section>
                    <div class="popup1" id="popup1">
                        <div class="popup-inner">
                            <div class="popup__photo">
                                <img src="img/bilanorthoptique1.jpeg" alt="">

                            </div>
                            <div class="popup__text">
                                <h2>Bilan Orthoptique</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quam magni veniam sed accusamus similique voluptatem nam placeat reiciendis quia illo 
                                    sapiente, vero nisi dolores hic, officiis cumque eveniet quod et, repellendus alias quos expedita maxime. Similique fugiat ducimus atque ipsum earum rerum.
                                    Deleniti reprehenderit consequuntur excepturi inventore facere quas. Optio mollitia quod dolorum nulla dolore velit vero corporis pariatur dolor in ab minus 
                                    error vitae eligendi sed, provident culpa quo. Quasi aspernatur voluptate laudantium corporis placeat, reiciendis officiis dicta modi,
                                    eum labore odit iusto eligendi laborum architecto, molestiae dolorum temporibus? Tempora, rerum consequatur blanditiis dolorem vel iure magnam deserunt.</p>
                                <a class="button" href="#popup5">Réeducation</a>
                                <a class="button" href="#popup6">Réeducation strabisme</a>
                                <a class="button" href="#popup10">Quand consulter ?</a>
                                </div>
                          <a class="popup__close" href="#popupbil">X</a>
                        </div>
                    </div>

                    <div class="popup2" id="popup2">
                        <div class="popup-inner">
                            <div class="popup__photo">
                                <img src="img/bilanneurovisuel1.jpeg" alt="" id="imgneurovisuel">
                            </div>
                            <div class="popup__text">
                                <h2>Bilan Neurovisuel</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quam magni veniam sed accusamus similique voluptatem nam placeat reiciendis quia illo 
                                    sapiente, vero nisi dolores hic, officiis cumque eveniet quod et, repellendus alias quos expedita maxime. Similique fugiat ducimus atque ipsum earum rerum.
                                    Deleniti reprehenderit consequuntur excepturi inventore facere quas. Optio mollitia quod dolorum nulla dolore velit vero corporis pariatur dolor in ab minus 
                                    error vitae eligendi sed, provident culpa quo. Quasi aspernatur voluptate laudantium corporis placeat, reiciendis officiis dicta modi,
                                    eum labore odit iusto eligendi laborum architecto, molestiae dolorum temporibus? Tempora, rerum consequatur blanditiis dolorem vel iure magnam deserunt.</p>                                
                                <a class="button" href="#popup8">Réeducation</a>
                                <a class="button" href="#popup13">Quand consulter ?</a>
                            </div>
                          <a class="popup__close" href="#popupbil">X</a>
                        </div>
                    </div>

                    <div class="popup3" id="popup3">
                        <div class="popup-inner">
                            <div class="popup__photo">
                                <img src="img/bilanbassevision1.jpeg" alt="" id="imgbassevision">
                            </div>
                            <div class="popup__text">
                                <h2>Bilan Basse Vision</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quam magni veniam sed accusamus similique voluptatem nam placeat reiciendis quia illo 
                                    sapiente, vero nisi dolores hic, officiis cumque eveniet quod et, repellendus alias quos expedita maxime. Similique fugiat ducimus atque ipsum earum rerum.
                                    Deleniti reprehenderit consequuntur excepturi inventore facere quas. Optio mollitia quod dolorum nulla dolore velit vero corporis pariatur dolor in ab minus 
                                    error vitae eligendi sed, provident culpa quo. Quasi aspernatur voluptate laudantium corporis placeat, reiciendis officiis dicta modi,
                                    eum labore odit iusto eligendi laborum architecto, molestiae dolorum temporibus? Tempora, rerum consequatur blanditiis dolorem vel iure magnam deserunt.</p> 
                                <a class="button" href="#popup9">Réeducation</a>
                                <a class="button" href="#popup14">Quand consulter ?</a>
                            </div>
                          <a class="popup__close" href="#popupbil">X</a>
                        </div>
                    </div>

                    <div class="popup4" id="popup4">
                        <div class="popup-inner">
                            <div class="popup__photo">
                                <img src="img/bilanrefraction1.jpeg" alt="">
                            </div>
                            <div class="popup__text">
                                <h2>Bilan Refraction</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quam magni veniam sed accusamus similique voluptatem nam placeat reiciendis quia illo 
                                    sapiente, vero nisi dolores hic, officiis cumque eveniet quod et, repellendus alias quos expedita maxime. Similique fugiat ducimus atque ipsum earum rerum.
                                    Deleniti reprehenderit consequuntur excepturi inventore facere quas. Optio mollitia quod dolorum nulla dolore velit vero corporis pariatur dolor in ab minus 
                                    error vitae eligendi sed, provident culpa quo. Quasi aspernatur voluptate laudantium corporis placeat, reiciendis officiis dicta modi,
                                    eum labore odit iusto eligendi laborum architecto, molestiae dolorum temporibus? Tempora, rerum consequatur blanditiis dolorem vel iure magnam deserunt.</p>   
                                <a class="button" href="#popup7">Réeducation</a>
                                <a class="button" href="#popup12">Quand consulter ?</a>
                            </div>
                          <a class="popup__close" href="#popupbil">X</a>
                        </div>
                    </div>
                </section>



<!-- *********************************************************************************************************************************
*******************************************************   NOS REEDUCATIONS    ********************************************************
***********************************************************************************************************************************-->


                    <section>
                        <div class="box-container4com" id="reeducation">
                            <p> Nos Réeducations </p>
                        <div class="box-container4" id="popupreed">
                            <div class="container-card4" id="boxcontainerbot">
                                <div class="container-box4" id="optic1">
                                    <div class="container-content4">
                                        <h2>01</h2>
                                        <h3>Insuffisance de convergence</h3>
                                        <p>L’insuffisance de convergence est une difficulté à fixer un objet, un texte en vision de près. </p>
                                        <a class="button" href="{{ path('app_reeducation')}}">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                            <div class="container-card4" id="boxcontainerbot">
                                <div class="container-box4" id="optic2">
                                    <div class="container-content4">
                                        <h2>02</h2>
                                        <h3>Strabisme</h3>
                                        <p>Le strabisme se caractérise par un défaut d’alignement des axes visuels des 2 yeux et de coordination. </p>
                                        <a class="button" href="{{ path('app_reeducation')}}">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                            <div class="container-card4" id="boxcontainerbot">
                                <div class="container-box4" id="optic3">
                                    <div class="container-content4">
                                        <h2>03</h2>
                                        <h3>Amblyopie</h3>
                                        <p>L’amblyopie est une diminution plus ou moins importante de la fonction visuelle malgré le port de la correction optique. </p>
                                        <a class="button" href="{{ path('app_reeducation')}}">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                            <div class="container-card4" id="boxcontainerbot">
                                <div class="container-box4" id="optic4">
                                    <div class="container-content4">
                                        <h2>04</h2>
                                        <h3>Neurovisuel, troubles des apprentissages</h3>
                                        <p>La rééducation neurovisuel ne se limite pas à la possibilité de l’acte de voir, à la prise en charge du VOIR net et simple. </p>
                                        <a class="button" href="{{ path('app_reeducation')}}">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                            <div class="container-card4" id="boxcontainerbot">
                                <div class="container-box4" id="optic5">
                                    <div class="container-content4">
                                        <h2>05</h2>
                                        <h3>Deficience visuelle : Basse vision</h3>
                                        <p>La rééducation orthoptique basse vision est l’ensemble des techniques visant à utiliser la vision restante, avec ou sans aide optique.</p>
                                        <a class="button" href="{{ path('app_reeducation')}}">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


<!-- *********************************************************************************************************************************
*************************************************     MODAL REEDUCATION    ***********************************************************
***********************************************************************************************************************************-->


                <section>
                    <div class="popup5" id="popup5">
                        <div class="popup-inner">
                            <div class="popup__photo">
                                <img src="img/reeducationidc1.jpeg" alt="">
                            </div>
                            <div class="popup__text">
                                <h2>Insuffisance de convergence</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quam magni veniam sed accusamus similique voluptatem nam placeat reiciendis quia illo 
                                    sapiente, vero nisi dolores hic, officiis cumque eveniet quod et, repellendus alias quos expedita maxime. Similique fugiat ducimus atque ipsum earum rerum.
                                    Deleniti reprehenderit consequuntur excepturi inventore facere quas. Optio mollitia quod dolorum nulla dolore velit vero corporis pariatur dolor in ab minus 
                                    error vitae eligendi sed, provident culpa quo. Quasi aspernatur voluptate laudantium corporis placeat, reiciendis officiis dicta modi,
                                    eum labore odit iusto eligendi laborum architecto, molestiae dolorum temporibus? Tempora, rerum consequatur blanditiis dolorem vel iure magnam deserunt.</p>   
                                <a class="button" href="#popup1">Bilan</a>
                                <a class="button" href="#popup10">Quand consulter ?</a>
                            </div>
                          <a class="popup__close" href="#popupreed">X</a>
                        </div>
                    </div>


                    <div class="popup6" id="popup6">
                        <div class="popup-inner">
                            <div class="popup__photo">
                                <img src="img/bilanneurovisuel2.jpeg" alt="">
                            </div>
                            <div class="popup__text">
                                <h2>Strabisme</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quam magni veniam sed accusamus similique voluptatem nam placeat reiciendis quia illo 
                                    sapiente, vero nisi dolores hic, officiis cumque eveniet quod et, repellendus alias quos expedita maxime. Similique fugiat ducimus atque ipsum earum rerum.
                                    Deleniti reprehenderit consequuntur excepturi inventore facere quas. Optio mollitia quod dolorum nulla dolore velit vero corporis pariatur dolor in ab minus 
                                    error vitae eligendi sed, provident culpa quo. Quasi aspernatur voluptate laudantium corporis placeat, reiciendis officiis dicta modi,
                                    eum labore odit iusto eligendi laborum architecto, molestiae dolorum temporibus? Tempora, rerum consequatur blanditiis dolorem vel iure magnam deserunt.</p>   
                                <a class="button" href="#popup1">Bilan</a>
                                <a class="button" href="#popup11">Quand consulter ?</a>
                            </div>
                          <a class="popup__close" href="#popupreed">X</a>
                        </div>
                    </div>


                    <div class="popup7" id="popup7">
                        <div class="popup-inner">
                            <div class="popup__photo">
                                <img src="img/bilanbassevision2.jpeg" alt="">
                            </div>
                            <div class="popup__text">
                                <h2>Amblyopie</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quam magni veniam sed accusamus similique voluptatem nam placeat reiciendis quia illo 
                                    sapiente, vero nisi dolores hic, officiis cumque eveniet quod et, repellendus alias quos expedita maxime. Similique fugiat ducimus atque ipsum earum rerum.
                                    Deleniti reprehenderit consequuntur excepturi inventore facere quas. Optio mollitia quod dolorum nulla dolore velit vero corporis pariatur dolor in ab minus 
                                    error vitae eligendi sed, provident culpa quo. Quasi aspernatur voluptate laudantium corporis placeat, reiciendis officiis dicta modi,
                                    eum labore odit iusto eligendi laborum architecto, molestiae dolorum temporibus? Tempora, rerum consequatur blanditiis dolorem vel iure magnam deserunt.</p>   
                                <a class="button" href="#popup4">Bilan</a>
                                <a class="button" href="#popup12">Quand consulter ?</a>
                            </div>
                          <a class="popup__close" href="#popupreed">X</a>
                        </div>
                    </div>

                    
                    <div class="popup8" id="popup8">
                        <div class="popup-inner">
                            <div class="popup__photo">
                                <img src="img/bilanrefraction2.jpeg" alt="">
                            </div>
                            <div class="popup__text">
                                <h2>Fonctionnel : Neurovisuel troubles des apprentissages</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quam magni veniam sed accusamus similique voluptatem nam placeat reiciendis quia illo 
                                    sapiente, vero nisi dolores hic, officiis cumque eveniet quod et, repellendus alias quos expedita maxime. Similique fugiat ducimus atque ipsum earum rerum.
                                    Deleniti reprehenderit consequuntur excepturi inventore facere quas. Optio mollitia quod dolorum nulla dolore velit vero corporis pariatur dolor in ab minus 
                                    error vitae eligendi sed, provident culpa quo. Quasi aspernatur voluptate laudantium corporis placeat, reiciendis officiis dicta modi,
                                    eum labore odit iusto eligendi laborum architecto, molestiae dolorum temporibus? Tempora, rerum consequatur blanditiis dolorem vel iure magnam deserunt.</p>   
                                <a class="button" href="#popup2">Bilan</a>
                                <a class="button" href="#popup13">Quand consulter ?</a>
                            </div>
                          <a class="popup__close" href="#popupreed">X</a>
                        </div>
                    </div>


                    <div class="popup9" id="popup9">
                        <div class="popup-inner">
                            <div class="popup__photo">
                                <img src="img/reeducationbassevision1.jpeg" alt="">
                            </div>
                            <div class="popup__text">
                                <h2>Deficience visuelle : Basse Vision</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quam magni veniam sed accusamus similique voluptatem nam placeat reiciendis quia illo 
                                    sapiente, vero nisi dolores hic, officiis cumque eveniet quod et, repellendus alias quos expedita maxime. Similique fugiat ducimus atque ipsum earum rerum.
                                    Deleniti reprehenderit consequuntur excepturi inventore facere quas. Optio mollitia quod dolorum nulla dolore velit vero corporis pariatur dolor in ab minus 
                                    error vitae eligendi sed, provident culpa quo. Quasi aspernatur voluptate laudantium corporis placeat, reiciendis officiis dicta modi,
                                    eum labore odit iusto eligendi laborum architecto, molestiae dolorum temporibus? Tempora, rerum consequatur blanditiis dolorem vel iure magnam deserunt.</p>   
                                <a class="button" href="#popup3">Bilan</a>
                                <a class="button" href="#popup14">Quand consulter ?</a>
                            </div>
                          <a class="popup__close" href="#popupreed">X</a>
                        </div>
                    </div>

                </section>


<!-- *********************************************************************************************************************************
***************************************************     MODAL QUAND CONSULTER    *****************************************************
***********************************************************************************************************************************-->


                <section>

                    <div class="popup10" id="popup10">
                        <div class="popup-inner">
                            <div class="popup__photo">
                                <img src="img/bilanortho3.jpeg" alt="">
                            </div>
                            <div class="popup__text">
                                <h2>Insuffisance de convergence : Quand consuler ?</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quam magni veniam sed accusamus similique voluptatem nam placeat reiciendis quia illo 
                                    sapiente, vero nisi dolores hic, officiis cumque eveniet quod et, repellendus alias quos expedita maxime. Similique fugiat ducimus atque ipsum earum rerum.
                                    Deleniti reprehenderit consequuntur excepturi inventore facere quas. Optio mollitia quod dolorum nulla dolore velit vero corporis pariatur dolor in ab minus 
                                    error vitae eligendi sed, provident culpa quo. Quasi aspernatur voluptate laudantium corporis placeat, reiciendis officiis dicta modi,
                                    eum labore odit iusto eligendi laborum architecto, molestiae dolorum temporibus? Tempora, rerum consequatur blanditiis dolorem vel iure magnam deserunt.</p>   
                                <a class="button" href="#popup5">Réeducation</a>
                            </div>
                          <a class="popup__close" href="#popupreed">X</a>
                        </div>
                    </div>


                    <div class="popup11" id="popup11">
                        <div class="popup-inner">
                            <div class="popup__photo">
                                <img src="img/bilanneurovisuel3.jpeg" alt="">
                            </div>
                            <div class="popup__text">
                                <h2>Strabisme : Quand consuler ?</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quam magni veniam sed accusamus similique voluptatem nam placeat reiciendis quia illo 
                                    sapiente, vero nisi dolores hic, officiis cumque eveniet quod et, repellendus alias quos expedita maxime. Similique fugiat ducimus atque ipsum earum rerum.
                                    Deleniti reprehenderit consequuntur excepturi inventore facere quas. Optio mollitia quod dolorum nulla dolore velit vero corporis pariatur dolor in ab minus 
                                    error vitae eligendi sed, provident culpa quo. Quasi aspernatur voluptate laudantium corporis placeat, reiciendis officiis dicta modi,
                                    eum labore odit iusto eligendi laborum architecto, molestiae dolorum temporibus? Tempora, rerum consequatur blanditiis dolorem vel iure magnam deserunt.</p>   
                                <a class="button" href="#popup6">Réeducation</a>
                            </div>
                          <a class="popup__close" href="#popupreed">X</a>
                        </div>
                    </div>

                    <div class="popup12" id="popup12">
                        <div class="popup-inner">
                            <div class="popup__photo">
                                <img src="img/bilanbassevision3.jpeg" alt=""  id="imgbassevision2">
                            </div>
                            <div class="popup__text">
                                <h2>Amblyopie : Quand consuler ?</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quam magni veniam sed accusamus similique voluptatem nam placeat reiciendis quia illo 
                                    sapiente, vero nisi dolores hic, officiis cumque eveniet quod et, repellendus alias quos expedita maxime. Similique fugiat ducimus atque ipsum earum rerum.
                                    Deleniti reprehenderit consequuntur excepturi inventore facere quas. Optio mollitia quod dolorum nulla dolore velit vero corporis pariatur dolor in ab minus 
                                    error vitae eligendi sed, provident culpa quo. Quasi aspernatur voluptate laudantium corporis placeat, reiciendis officiis dicta modi,
                                    eum labore odit iusto eligendi laborum architecto, molestiae dolorum temporibus? Tempora, rerum consequatur blanditiis dolorem vel iure magnam deserunt.</p>   
                                <a class="button" href="#popup7">Réeducation</a>
                            </div>
                          <a class="popup__close" href="#popupreed">X</a>
                        </div>
                    </div>

                    <div class="popup13" id="popup13">
                        <div class="popup-inner">
                            <div class="popup__photo">
                                <img src="img/bilanrefraction3.jpeg" alt=""  id="imgneurovisuel">
                            </div>
                            <div class="popup__text">
                                <h2>Neurovisuel : Quand consuler ?</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quam magni veniam sed accusamus similique voluptatem nam placeat reiciendis quia illo 
                                    sapiente, vero nisi dolores hic, officiis cumque eveniet quod et, repellendus alias quos expedita maxime. Similique fugiat ducimus atque ipsum earum rerum.
                                    Deleniti reprehenderit consequuntur excepturi inventore facere quas. Optio mollitia quod dolorum nulla dolore velit vero corporis pariatur dolor in ab minus 
                                    error vitae eligendi sed, provident culpa quo. Quasi aspernatur voluptate laudantium corporis placeat, reiciendis officiis dicta modi,
                                    eum labore odit iusto eligendi laborum architecto, molestiae dolorum temporibus? Tempora, rerum consequatur blanditiis dolorem vel iure magnam deserunt.</p>   
                                <a class="button" href="#popup8">Réeducation</a>
                            </div>
                          <a class="popup__close" href="#popupreed">X</a>
                        </div>
                    </div>


                    <div class="popup14" id="popup14">
                        <div class="popup-inner">
                            <div class="popup__photo">
                                <img src="img/bg_modal2.jpg" alt="">
                            </div>
                            <div class="popup__text">
                                <h2>Basse vision : Quand consuler ?</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quam magni veniam sed accusamus similique voluptatem nam placeat reiciendis quia illo 
                                    sapiente, vero nisi dolores hic, officiis cumque eveniet quod et, repellendus alias quos expedita maxime. Similique fugiat ducimus atque ipsum earum rerum.
                                    Deleniti reprehenderit consequuntur excepturi inventore facere quas. Optio mollitia quod dolorum nulla dolore velit vero corporis pariatur dolor in ab minus 
                                    error vitae eligendi sed, provident culpa quo. Quasi aspernatur voluptate laudantium corporis placeat, reiciendis officiis dicta modi,
                                    eum labore odit iusto eligendi laborum architecto, molestiae dolorum temporibus? Tempora, rerum consequatur blanditiis dolorem vel iure magnam deserunt.</p>   
                                <a class="button" href="#popup9">Réeducation</a>
                            </div>
                          <a class="popup__close" href="#popupreed">X</a>
                        </div>
                    </div>


                </section>

<!-- *********************************************************************************************************************************
******************************************************   PARALLAX EFFECT    **********************************************************
***********************************************************************************************************************************-->


                <div class="pimg1">
                </div>

<!-- *********************************************************************************************************************************
**********************************************************   CAROUSSEL   *************************************************************
***********************************************************************************************************************************-->

                <section class="slider">
                    <div class="slider2">

                        <input type="radio" name="slider" id ="s1" checked>
                        <input type="radio" name="slider" id ="s2">
                        <input type="radio" name="slider" id ="s3">
                        <input type="radio" name="slider" id ="s4">
                        <input type="radio" name="slider" id ="s5">

                        <label for="s1" id="slide1">
                            <img class="image" id="i1" src="img/bg_ortho1.jpg" width="100%" height="100%">
                            <p>
                                PHOTO A MODIFIER
                            </p>
                        </label>

                        <label for="s2" id="slide2">
                            <img class="image" id="i2" src="img/bg_ortho2.jpg" width="100%" height="100%">
                            <p>
                                PHOTO A MODIFIER
                            </p>
                        </label>

                        <label for="s3" id="slide3">
                            <img class="image" id="i3" src="img/optic_3.jpg" width="100%" height="100%">
                            <p>
                                PHOTO A MODIFIER
                            </p>
                        </label>

                        <label for="s4" id="slide4">
                            <img class="image" id="i4" src="img/optic_4.jpg" width="100%" height="100%">
                            <p>
                                PHOTO A MODIFIER
                            </p>
                        </label>

                        <label for="s5" id="slide5">
                            <img class="image" id="i5" src="img/optic_9.jpg" width="100%" height="100%">
                            <p>
                                PHOTO A MODIFIER
                            </p>
                        </label>
                    </div>
                </section>

                <section>
                    <div class="slidermobile">
                        <div class="cardslider1">  
                            <p> Photo a Modifier </p>
                        </div>

                        <div class="cardslider2">  
                            <p> Photo a Modifier </p>
                        </div>

                        <div class="cardslider3">  
                            <p> Photo a Modifier </p>
                        </div>

                        <div class="cardslider4">  
                            <p> Photo a Modifier </p>
                        </div>
                        
                        <div class="cardslider5">  
                            <p> Photo a Modifier </p>
                        </div>
                    </div>             
                </section>


      
</article>
    <script src="/js/script.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.3/vanilla-tilt.min.js"></script>


{% endblock %}