{% extends 'base.html.twig' %}

{% block orthoptie %}


<!-- **********************************************************************************************************************************
**************************************************************   HEADER    ************************************************************
*********************************************************************************************************************************** -->


    <header>
         <a href="{{ path('home')}}" class="logo"> <img src="img/logo_transparent.png"> </a> 

        <nav class="navbar">
            <ul class="navlinks">
                <li><a href="{{ path('home')}}">Accueil</a></li>
                <li><a href="{{ path('app_orthoptie')}}">Orthoptie</a></li>
                <li><a href="{{ path('app_bilan')}}">Bilans</a></li>
                <li><a href="{{ path('app_reeducation')}}">Réeducations</a></li>
                <li><a href="#contact" class="link">Contact</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>                
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>


<!-- *********************************************************************************************************************************
******************************************************   PARALLAX EFFECT    **********************************************************
***********************************************************************************************************************************-->

    <div class="pimg13">
        <p class="pimgtext">L'Orthoptie</p> 
    </div>

<!-- *********************************************************************************************************************************
********************************************************   PARTIE N°1    *************************************************************
***********************************************************************************************************************************-->

    <div class="containerortho11">
        <div class="containercontent11">
            <h4>L’orthoptie est une profession paramédicale, visant à dépister, rééduquer, réadapter et à explorer la fonction visuelle.</h4> <br>

            <li class="lititre">
                <i class="fa-solid fa-eye"></i> Etymologiquement le terme ORTHOPTIE est composé de 2 racines grecques : 
            </li><br>

            <li>
                <i class="fa-solid fa-eye"></i> Du Préfixe ORTHO qui signifie DROIT
            </li>
            <li>
                <i class="fa-solid fa-eye"></i> Du suffixe OPSIE qui désigne l’organe de la vision c’est-à-dire l’ŒIL
            </li><br>

            <p> 
                L’orthoptiste a pour mission de dépister, d’évaluer la vision à l’aide de tests normés et de pratiquer une rééducation à la fois sensorielle, 
                motrice et perceptivo-cognitive. Les domaines d’activités de cette profession sont vastes:      
            </p>

            <li>
                <i class="fa-solid fa-eye"></i> Les strabismes.
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Les paralysies oculomotrices.
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Les amblyopies.
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Le dépistage et la rééducation des troubles de la vision binoculaire (insuffisance de convergence, fatigue visuelle).
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> La basse-vision.
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> La prise en charge des troubles neurovisuels et visuo-attentionnels.
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Les examens complémentaires en ophtalmologie.
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> L’assistanat de consultations ophtalmologiques.
            </li><br>

            <p>
                C’est un professionnel de santé conventionné et tous ses actes sont remboursés. 
                Ce métier a été reconnu par décret du 11 août 1956 et est réglementé par des articles du Code de la Santé Publique.
            </p> <br>     

            <div class="divorthoptie"> 
                <a class="buttonorthoptie" href="https://orthoptie.net/pro/ngap.htm" target="_blank">Monenclature</a>
            </div>
            <br>

            <p>
                L'orthoptiste est habilité à pratiquer ses actes sur PRESCRIPTION MEDICALE écrite, datée et signée par le médecin prescripteur 
                (médecin généraliste ou spécialiste). Il peut travailler en étroite collaboration avec une équipe pluridisciplinaire telle que : 
                l’ophtalmologiste, l’opticien, le neurologue, l’orthophoniste, le psychomotricien, l’ergothérapeute, le podologue, l’ostéopathe, le kinésithérapeute, 
                l’orthodontiste…. 
            </p> <br>

            <p>
                Cette profession peut s’exercer en tant que salarié (cabinet d’ophtalmologie, centre ophtalmologique, hôpital, clinique, structure médico-sociale) ou en libéral. 
            </p> <br>
                
            <div class="divorthoptie"> 
                <a class="buttonorthoptie" href="https://www.orthoptiste.pro/informations/documentation/legislation/" target="_blank">Législation orthoptiste</a>
            </div><br>
        </div>
    </div>


<!-- *********************************************************************************************************************************
******************************************************   PARALLAX EFFECT    **********************************************************
***********************************************************************************************************************************-->

        <div class="pimg14">
        </div>


<!-- *********************************************************************************************************************************
********************************************************   PARTIE N°2    *************************************************************
***********************************************************************************************************************************-->

        <div class="containerortho12">
        <div class="containercontent12">

            <li class="lititre">
                <i class="fa-solid fa-eye"></i> Quand consulter ?
            </li><br>

            <li>
                <i class="fa-solid fa-eye"></i> Céphalées, migraines
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Vision floue/trouble, difficulté à faire la mise au point 
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Fatigue visuelle, personne beaucoup sur écran 
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Larmoiement excessif, picotements, rougeur oculaire
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Trouble postural 
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Des douleurs multiples ou diffuses (dorsal, lombaires, cervicales, trapèze…) 
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Sensation de strabisme (convergent, divergent, constant, latent, intermittent, verticale) 
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Diplopie (vision double, constante/intermittente, horizontale/verticale/oblique, d’apparition progressive/brutale)
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Les personnes présentant des difficultés visuelles suite à un AVC (accident vasculaire cérébral), 
                un traumatisme crânien, une atteinte neurologique, une pathologie ophtalmologie 
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Une acuité visuelle corrigée du meilleur œil comprise en 3/10 et 1/10
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Un champ visuel inférieur à 20°
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Une atteinte centrale de la rétine (DMLA, Maladie de Stargardt, Maladie de Leber)
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Une atteinte périphérique de la rétine (Rétinopathie diabétique, Rétinite pigmentaire, Glaucome)
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Toutes les personnes présentant une basse vision avec difficulté de repérage visuel (dans les lieux connus/inconnus…)
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Hémianopsie (amputation de la moitié du champ visuel)
            </li>
            <li>
                <i class="fa-solid fa-eye"></i> Heminégligence (anomalie due à une lésion de l'un des hémisphères cérébraux et qui conduit la personne atteinte à négliger, "oublier" la moitié de l'espace qui l'entoure)
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Hémiplégie (paralysie n'affectant qu'un seul côté du corps et pouvant se manifester au niveau de différentes parties du corps comme la jambe, le bras ou le visage)
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Difficultés d’apprentissages scolaires (lecture, écriture, géométrie, sauts de lignes, omission, retard d’acquisitions, difficultés de repérage dans le temps et l’espace….)
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Un problème de mémoire visuelle 
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Les troubles « DYS » (Dyslexie, Dysorthographie, Dyslexie visuo-attentionnelle, Dysphasie, Dyspraxie, Dyspraxie visuo spatiale, Dysgraphie, Dyscalculie)
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Les troubles de l’attention, de concentration (TDA/H Trouble Déficit de l'Attention avec ou sans Hyperactivité)
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Les EIP ou Enfant Intellectuellement Précoce (enfants surdoués ; HPI : Haut potentiel intellectuel)
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Les troubles du spectre autistique (TSA) 
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Un retard dans le développement psychomoteur 
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Pour une apraxie visuo-spatiale, une aphasie avec déficit visuel neurologique
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Les troubles de surdité
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Amblyopie (œil paresseux, atteinte fonctionnelle ou organique de la fonction visuelle d’un œil ou des deux yeux) 
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Paralysies oculomotrices (atteinte d’un nerf : paralysie du III/IV/VI)
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Paralysies de fonctions (paralysies supra nucléaires ; paralysies du regard/ paralysies oculomotrices centrales. Exemple : 
                ophtalmoplégie internucléaire (OIN) ; syndrome 1 et demi de Fischer ; syndrome de Foville ; paralysie des élévateurs ; syndrome du noyau du III ; 
                syndrome de Parinaud….)
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Une pathologie chronique (diabète, hypo ou hyperthyroïdie, myasthénie…)
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Personne présentant une sclérose en plaque (SEP)
            </li>
            <li>
                <i class="fa-solid fa-eye"></i> Nystagmus (tremblement des yeux) 
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Un torticolis (position de tête inhabituel)
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Une anomalie objective au niveau des paupières (ptosis) ou des globes oculaires : conjonctive, cornée, iris, pupille (leucocorie, colobome)
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Pour une personne monophtalme (perte d'un œil)
            </li>

            <li>
                <i class="fa-solid fa-eye"></i> Un manque d’intérêt aux stimuli visuels
            </li><br>

            <div class="divorthoptie"> 
                <a class="buttonorthoptie" href="{{ path('home')}}">Accueil</a>
            </div>
        </div>
    </div>

    <script src="/js/scriptmenu.js"></script>

{% endblock %}
